html {
  background: #28313a;
}

body {
  margin: 0;
  font-family: "Roboto", "Mono", "Menlo", "Monaco", "Courier", "monospace";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(25, 31, 36, 0.94);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
